sudo: false
language: python
python: 2.7

branches:
 only:
   - master

install:
    - pip install .[test]

# Each step below must succeed for the build to pass
script:
    - coverage run --source=adwords test.py
    - coverage report -m
    - pycodestyle --format=pylint --exclude=__init__.py .
